@model NCD.Application.Domain.Person

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
<div>
    <h2 class="top-block">National Criminals Database Profile</h2>

    <div>
        <b>Name:</b> @Model.Name
    </div>
    <div>
        <b>Alias:</b> @Model.Alias
    </div>
    <br />
    <div>
        <b>Birth date:</b> @Model.BirthDate
    </div>
    <div>
        <b>Gender:</b> @Model.Gender
    </div>
    <br />
    <div>
        <b>Heigth:</b> @Model.Height <spam>cm</spam>
    </div>
    <div>
        <b>Weight:</b> @Model.Weight<span> (kg)</span>
    </div>
    <div>
        <b>Country:</b> @Model.Country
    </div>
</div>
</body>
</html>