@model NCD.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section header {
    @Html.Partial("_Header")
}
<div class="form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <h4 class="green">Create a new account</h4>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control responsive", placeholder = "Enter email address" })
        @Html.ValidationMessageFor(model => model.Email)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control responsive", placeholder = "Password" })
        @Html.ValidationMessageFor(model => model.Password)
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control responsive", placeholder = "Confirm password" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
        <br />
        <button type="submit" class="button button-primary responsive spacer">
            <i class="@Icons.UserPlus"></i>
            Register
        </button>
        <button type="button" class="button button-primary responsive spacer" onclick="window.location.href = '@Url.Action(string.Empty, "Home")'">
            <i class="@Icons.CaretLeft"></i>
            Back
        </button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
