<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="author" content="Alim Ul Karim">
    @Styles.Render("~/Content/css")
</head>
<body>
    <!--[if lt IE 9]>
        <div class="browser-update container-fuild">
            <div class="row">
                <div class="col-md-12">Warning! Your browser is too old. Please update your browser to the <a href="http://browser-update.org/update.html#3">latest version</a>.</div>
            </div>
        </div>
    <![endif]-->

    <div class="container">
        @RenderSection("header", false)
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
</body>
</html>